.contact 
    h3.contact__heading Contact me 
    p.contact__text If you are looking to hire a product designer, I’m currently available for freelance work
    button.btn 
        a(href="").btn-link 
            ion-icon(name="mail-outline")
            span nguyenvanvuhkht@gmail.com