.footer__copyright
  | Made by 
  span Nguyen Van Vu
  |  &mdash; Copyright 2021

.footer__social 
    a(href="").footer__social-link 
        img.footer__social-icon(src='./assets/img/Group1.png' alt='')
    a(href="").footer__social-link 
        img.footer__social-icon(src='./assets/img/Group2.png' alt='')
    a(href="").footer__social-link 
        img.footer__social-icon(src='./assets/img/Group3.png' alt='')
    a(href="").footer__social-link 
        img.footer__social-icon(src='./assets/img/Group4.png' alt='')
    a(href="").footer__social-link 
        img.footer__social-icon(src='./assets/img/Group5.png' alt='')