.home  
    .home__content 
        .home__heading Hi, I am Your Name A Product Designer based in City.
        .home__text I help businesses and companies reach their goals by designing user-centric digital products & interactive experiences.
        button.btn 
            a(href="").btn-link 
                ion-icon(name="mail-outline")
                span nguyenvanvuhkht@gmail.com
    .home__img-box 
        img(src="./assets/img/img1.png", alt="").home__img 
a.switch-page(href="" data-aos="fade-up" data-aos-duration="1500")
    img(src="./assets/img/Arrow 1.png", alt="")
    span Featured Work