
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portfolio - Vũ
        link(rel="icon" href="./assets/img/favicon1.png" type="image/x-icon")
        link(rel="stylesheet", href="./assets/font/manrope/stylesheet.css")
        link(rel="stylesheet", href="./assets/css/main.css")
        link(href='./assets/bootstrap-5.0.2-dist/css/bootstrap.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
        script(src='./assets/bootstrap-5.0.2-dist/js/bootstrap.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
        link(rel='stylesheet' href='./assets/aos-master/dist/aos.css')
        script(src='./assets/aos-master/dist/aos.js')
        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
        script(src="./assets/main.js")
    body#body
        .work_case#work_case 
            .work__case-container 
                include ./work_header.pug
                include ./work_main.pug
                .footer 
                    .grid.wide
                        include ./footer.pug
        .main_case 
            include ./header.pug
            .main
                .grid.wide
                    include ./home.pug
                    include ./work.pug
                    include ./visual.pug
                    include ./project.pug
                    include ./contact.pug
            .footer 
                .grid.wide
                    include ./footer.pug
        a(href="#body").back-header 
            ion-icon(name="rocket-outline")
        .nav__mobile#openmenu 
            ul.nav-list 
                li.nav__item 
                    a(href="#body").nav__item-link Home 
                li.nav__item 
                    a(href="#work_case").nav__item-link Work 
                li.nav__item 
                    a(href="").nav__item-link Contact 
        
        a(href="#openmenu").nav-menu.hide-on-pc
            img(src="./assets/img/menu.png", alt="").menu-icon
        script.
         AOS.init();