.project 
    h3.primary__heading Personal Projects
    .project__container 
        .project__item(data-aos="fade-right" data-aos-duration="2500")  
            img.project__item-img(src="./assets/img/project1.png", alt="")
        .project__item(data-aos="fade-up" data-aos-duration="2500")  
            img.project__item-img(src="./assets/img/project2.png", alt="")
        .project__item(data-aos="fade-left" data-aos-duration="2500")  
            img.project__item-img(src="./assets/img/project3.png", alt="")