.visual 
    h2.primary__heading Visual Explorations
    
    .visual__container 
        .visual__item(data-aos="flip-right" data-aos-duration="2500") 
            img.visual__item-img(src="./assets/img/1.png", alt="" )
        .visual__item(data-aos="flip-up" data-aos-duration="2500") 
            img.visual__item-img(src="./assets/img/2.png", alt="")
        .visual__item(data-aos="flip-left" data-aos-duration="2500") 
            img.visual__item-img(src="./assets/img/3.png", alt="")
        .visual__item(data-aos="flip-right" data-aos-duration="2500") 
            img.visual__item-img(src="./assets/img/4.png", alt="")
        .visual__item(data-aos="flip-down" data-aos-duration="2500") 
            img.visual__item-img(src="./assets/img/5.png", alt="")
        .visual__item(data-aos="flip-left" data-aos-duration="2500") 
            img.visual__item-img(src="./assets/img/6.png", alt="")