.work_header 
    .work_header-box 
        .grid.wide 
            .header__container 
                .header__logo 
                    img.header__logo-img(src="./assets/img/Logos.png", alt="")
                .header__navigation.hide-on-mobile 
                    a(href="").header__navigation-link.home-btn Home
                    a(href="#work_case").header__navigation-link.work-btn Work
                    a(href="").header__navigation-link.contact-btn Contact
                