.work__main 
    .block-1 
        .grid.wide 
            h4.md__heading.covibe__heading Covibe
            h5.primary__content.covibe__content Co-working spaces for tech startups
    .block-2 
        .grid.wide 
            .info 
                .info__item 
                    h3.md__heading client
                    span.info__text Covibe
                .info__item 
                    h3.md__heading role
                    span.info__text Product Designer
                .info__item 
                    h3.md__heading industry
                    span.info__text Co-working
                .info__item 
                    h3.md__heading duration
                    span.info__text 2 Months
    .block-3 
        .grid.wide
            h3.md__heading defining the problem
            h4.block__content Designing a product that helps new startups setup their business in a coworking space with budget constraints.
    .grid.wide 
        a.switch-launch(href="") launch prototype 
    .block-4 
    .block-5 
        .item-1 
            img.item-1-img(src="./assets/img/5.png", alt="")
        .item-2 
            h3.md__heading solution 1
            h4.block__content Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .item-3 
            h3.md__heading solution 2
            h4.block__content Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .item-4 
            img.item-4-img(src="./assets/img/6.png", alt="")
    .block-6 
        .grid.wide 
            h3.md__heading Conclusion
            h4.block__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae aenean aliquet pellentesque lectus. Libero convallis velit, morbi nullam pellentesque quis. Massa nascetur in commodo posuere porttitor.
    .block-7 
        .grid.wide 
            img(src="./assets/img/footer-img.png", alt="")
    .block-8 
        a(href="") next case 
    