.work 
    .row 
        .l-6.l-12 
            .work__item.work__item-1(data-aos="flip-right" data-aos-duration="1500") 
                img(src="./assets/img/work1.png", alt="").work__img
                span in version
            .work__item(data-aos="flip-left" data-aos-duration="3000") 
                img(src="./assets/img/work2.png", alt="").work__img
        .l-6.l-12
            .work__item(data-aos="flip-left" data-aos-duration="1500") 
                img(src="./assets/img/work3.png", alt="").work__img
            .work__item(data-aos="flip-right" data-aos-duration="3000") 
                img(src="./assets/img/work4.png", alt="").work__img