.home {
  display: flex;
  justify-content: space-between;
  padding: 13rem 0;
  &__heading {
    width: 64.4rem;
    font-size: 6.4rem;
    line-height: 7rem;
    font-weight: 700;
    color: $heading-color;
    letter-spacing: -0.5px;
    margin-bottom: 2.4rem;
  }
  &__text {
    width: 52.5rem;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 6.4rem;
  }
  &__img {
    width: 40rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 50%;
  }
}

.switch-page {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color;
  margin: 3rem 0;
  & img {
    margin-right: 3.2rem;
  }
}
