.work_header {
  background-image: url(../img/header-im.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 64rem;
  &-box {
    background-color: rgba($color: #323232, $alpha: 0.7);
  }
}
