.footer {
  border-top: 1px solid $border-color;
  height: 12rem;
  width: 100%;
  &__copyright {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3.6rem;
    color: $text-color;
    & span {
      color: $heading-color;
    }
  }
  & .grid.wide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &__social {
    display: flex;
    align-items: center;
    width: 29.4rem;
    justify-content: space-between;
    &-link {
      text-decoration: none;
    }
    &-icon {
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}
